.Encabezado{
    background-color: gold;
    justify-content: center;
    display: flex;
    border-radius: 10px;

}
.Menú{
    background-color: aquamarine;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 45%;
    margin: 60px auto;
    border-radius: 10px;    
}

.Menú li a{

    text-decoration: none;
    color: black;
    font-style: normal;
    }

    .Menú li a:hover{  

   font-style: normal;
   text-decoration: none;
   display: block;

    }
    .Submenú{

        background-color: rgb(173, 161, 161);
        position: absolute;
        text-decoration: none;
        padding: 0%;
        border: solid 2px black;
        flex-flow: row wrap;
        display: none;
        border-radius: 5px;
    }
   
    .Menú Li:hover .Submenú{
        display: block;
        color: black; 
        justify-content: space-evenly;

    }

.Contenedor{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
.Principal{
    background-color: magenta;
    grid-column: 1/4;
}
.Lateral{
    background-color: brown;
    
}
.Pie{
    background-color: cyan;
    text-align: center;
}